
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nico Moji';
  src: url('./assets/fonts/NicoMoji-Regular.ttf') format('truetype');
  /* Add additional font formats as needed */
}

body{
  margin: 0;
  padding: 0;
  background-color: #191919;
}

.main_title {
  font-family: 'Nico Moji', Arial, sans-serif;
}

